# Git
.git
.gitignore

# OS Files
.DS_Store

# Logs
*.log

# Maven / Build Artifacts
target/
build/

# Exclude nested target/build except in src directories
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Environment file
.env
.env.local